@page "/take/{id}"
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using Model
@inject IDbContextFactory<HelpContext> dBContextFactory
@using Pages
@using Surveymatic.Data

<div class="card">
   <h1>Survey Choice</h1>
    <div class="card-body">
        <form>
 
            <div class="form-group">
                 @surveyContent.Title

                 @foreach (var q in survey.Questions)
                 {                    
                     <QuestionComponent id="@q.QuestionId.ToString()" OnClick="AnswerClick" />     
                                                                   
                }
            </div>                        
            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
        
    </div>
</div>



@code {

    public void AnswerClick(bool response){
        
        

    }

    [Parameter]
    public string id { get; set; }


    private Survey survey;
    private SurveyTranslation surveyContent;

    const string Language = "en";


    private List<QuestionTranslation> questionTranslations = new List<QuestionTranslation>();
   private List<Answer> answers = new List<Answer>();



    protected override async Task OnInitializedAsync()
    {

        using var db = dBContextFactory.CreateDbContext();
        int nid = Int16.Parse(id);
        survey = await db.Surveys
        .Where(q => q.SurveyId == nid)
        .Include(s => s.SurveyTranslations)
        .Include(qu => qu.Questions)
        .FirstOrDefaultAsync();

        foreach (var st in survey.SurveyTranslations)
        {
            if (surveyContent == null)
            {
                surveyContent = st;
            }
            else if (st.Language == Language)
            {
                surveyContent = st;
            }
        }

    }
    public void HandleValidSubmit() {}
    
    }




    

   