@page
@model Surveymatic.Pages.Admin.SurveyTranslationModel

@{
    ViewData["Title"] = "SurveyTranslation";
}

<h1>SurveyTranslation</h1>

<h4>SurveyTranslation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SurveyTranslation.SurveyId" class="control-label"></label>
                <select asp-for="SurveyTranslation.SurveyId" class ="form-control" asp-items="ViewBag.SurveyId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SurveyTranslation.Language" class="control-label"></label>
                <input asp-for="SurveyTranslation.Language" class="form-control" />
                <span asp-validation-for="SurveyTranslation.Language" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SurveyTranslation.Title" class="control-label"></label>
                <input asp-for="SurveyTranslation.Title" class="form-control" />
                <span asp-validation-for="SurveyTranslation.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SurveyTranslation.Description" class="control-label"></label>
                <input asp-for="SurveyTranslation.Description" class="form-control" />
                <span asp-validation-for="SurveyTranslation.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SurveyTranslation.Instruction" class="control-label"></label>
                <input asp-for="SurveyTranslation.Instruction" class="form-control" />
                <span asp-validation-for="SurveyTranslation.Instruction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
