@page "/Admin"
@using Surveymatic.Model.LoginData

@if (UserInfo.LoggedIn == "Yes")
{
    <main role="main" property="mainContentOfPage" class="container">
        <h1 id="wb-cont" property="name">Welcome</h1>
        <section>
            <h4 class="username">@UserInfo.Email <br /> logged in time : @DateTime.Now</h4>
        </section>
        <br />
        <table class="table table-striped" style="width:85%">
            <tbody>
                <thead>
                    <caption>Table Of Content</caption>
                </thead>
                <tr>
                    <td><a href="UserManage">User Manage</a></td>
                    <td><a href="Logout">Log out</a></td>
                    <td><a href="ChangePassword">Change Password </a></td>
                    <td><a>Change User role </a></td>
                </tr>
            </tbody>
        </table>
    </main>
}
else
{
    <main role="main" property="mainContentOfPage" class="container">
        <h1 id="wb-cont" property="name">Home</h1>
        <section>
            <h2>Please sign in</h2>
        </section>
        <section>
            <ul>
                <li>
                    <a href="login">Sign In</a>
                    <ul>
                        <li>
                            <a href="register">Register</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
    </main>
}

@code
{
    protected override void OnInitialized()
    {
        //UserInfo.LoggedIn
    }
}
