@page "/ChangePasswordConfirm"
@using Data
<main role="main" property="mainContentOfPage" class="container">
    <h1 id="wb-cont" property="name">Password Changed</h1>
    <section>
        <h4 class="username">Your password has been reset </h4>
        <section>
            <h3><a href="Admin">Dashboard</a></h3>
        </section>
    </section>
    <br />
</main>

@code
{

    protected override void OnInitialized()
    {

    }


}
