@page "/ChangePasswordConfirm"
@using Data
<h4 class="username">Your password has been changed successfully</h4>
<hr />
<span><a href="Admin">Dashboard</a></span>


@code
{

    protected override void OnInitialized()
    {

    }


}
