@page "/LogOut"
@using Model.LoginData
@inject Surveymatic.Services.IRefreshService Refresh
<h4 class="username">logged out successfully</h4>

<main role="main" property="mainContentOfPage" class="container">
    <h1 id="wb-cont" property="name">logged out successfully</h1>
    <section>
        <br />
        <a href="login">Login</a>
        <br />
        <a href="home">Home</a>
    </section>
</main>
@code
{

    protected override void OnInitialized()
    {
        UserInfo.User = new();
        UserInfo.Email = "";
        UserInfo.PreferredLanguage = "";
        UserInfo.LoggedIn = "";
        Refresh.CallRequestRefresh();
    }




}
