@page "/RegistrationConfirm"
@using Model.LoginData


<h1> Registration completed </h1>
<hr />
<h4></h4>
<h4 class="username">Registered Email: @UserInfo.Email</h4>
<h4 class="username">Registered Time: @DateTime.Now</h4>
<hr />
<h4>Please go back to home page and log in.</h4>
<Help HelpTag="resgistred" ? />
<NavLink class="nav-link" href="home" Match="NavLinkMatch.All">
    <span class="oi oi-home" aria-hidden="true"></span> Home
</NavLink>
@code {

}
