@page "/home"

<main role="main" property="mainContentOfPage" class="container">
    <h1 id="wb-cont" property="name">Home</h1>
    <section>
        <h2>Welcome to SurveyMatic</h2>
        <p>SurveyMatic, a friendly way for various departments of the Government of Canada to gather
            public information from their consultients in which, including graphical charts for
            better analysis.
        </p>
    </section>
    <section>
        <ul>
            <li>
                <p><a href="login">Login</a></p>
                <ul>
                    <li>
                        <p><a href="register">Register</a></p>

                    </li>
                </ul>
            </li>
        </ul>
    </section>
</main>