@using Surveymatic.Model;
@using Surveymatic.Data;
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<HelpContext> DbFactory

<div class="blog-entry">


    <div class="blog-datetime">
        <span class="blog-date">@Entry.Language</span> -
        <span class="blog-time">@Entry.Text</span>
        <span class="blog-time">@Entry.Type</span>      
    </div>
</div>

    <button @onclick="EditQuestion">Edit</button>


@code {
    [Parameter]
        public QuestionTranslation Entry { get; set; }
        public int QuestionTranslatonId { get; set; }
        public int QuestionId { get; set; }
        public string Language { get; set; }
        public int Type { get; set; }
        public string Text { get; set; }

    protected override async Task OnInitializedAsync()
    {


    }

    public async Task EditQuestion()
    {
        using var db = DbFactory.CreateDbContext();

    }

}