@page "/surveyViewer"
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using Model
@inject IDbContextFactory<HelpContext> ContextFactory

@attribute [Authorize]

 @using Surveymatic.Data
 @inject SurveyService SurveyRepository



<div>Admin survey page -----</div>


@code {
     

   
}