@using Data
@using Model
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<HelpContext> DbFactory

<div>
    <div title="">
        <h2></h2>
        <p>@Content</p>
    </div>

</div>

@code{

        public int SurveyId { get; set; }
        public int UserId { get; set; }

        public virtual ICollection<Question> Questions { get; set; }
        public virtual ICollection<SurveyTranslation> SurveyTranslations { get; set; }


    protected override async Task OnInitializedAsync()
    {
        using var db = DbFactory.CreateDbContext();
        //var item = await db.Help.Where(h => h.HelpTag == HelpTag).FirstOrDefaultAsync<HelpEntry>();
       // var item = await db.Surveys.Where(h => h.SurveyId == SurveyId).Include(e => e.Entries).ToListAsync();

        var item = await db.Surveys.Where(e => e.SurveyTranslations).FirstOrDefaultAsync<SurveyTranslations>();

        Content = item.ToString;
        //var x = item[0].Entries;
    }
}