<div>
    <div title="@Title">
        <strong>@Title</strong>
        <h2>@Help_Tag</h2>
        <p>@Content</p>
    </div>

</div>

@code{

    [Parameter]
    public int HelpId { get; set; }

    [Parameter]
    public string Help_Tag { get; set; }

    [Parameter]
    public String Title { get; set; }

    [Parameter]
    public String Content { get; set; }

}