@using Services
@inherits LayoutComponentBase
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject ISessionService Session

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a @onclick='() => SetLanguage("en")' href="home">English</a>
            <a @onclick='() => SetLanguage("fr")' href="home">Français</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
@code{
    protected override async Task OnAfterRenderAsync(bool first)
    {
        Session.Language = await LocalStorage.GetItemAsStringAsync("lang");
    }
    protected void SetLanguage(string lang)
    {
        Session.Language = lang;
        LocalStorage.SetItemAsStringAsync("lang", lang);
    }
}