@using Data
@using Model
@using Services
@using Surveymatic.Model.LoginData
@inject ISessionService Session
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="home">Surveymatic</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    @if (Session.Language == "fr")
    {
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="home" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="list">
                    <span class="oi oi-plus" aria-hidden="true"></span> Visionneuse d'enquête
                </NavLink>
            </li>
            <li class="nav-item px-3">
                        <NavLink class="nav-link" href="createsurvey">
                            <span class="oi oi-briefcase" aria-hidden="true">Créer une enquête</span> 
                        </NavLink>
            </li>
        </ul>
    }
    else
    {

        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="home" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="list">
                    <span class="oi oi-plus" aria-hidden="true"></span> Survey Viewer
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="createsurvey">
                    <span class="oi oi-briefcase" aria-hidden="true"></span> Create Survey
                </NavLink>
            </li>
        </ul>
    }
</div>
@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}