<figure class="wb-mltmd">
    <video title="@Title">
        <source type="video/youtube" src="@Url" />
    </video>
    <figcaption>
        <p>@Caption</p>
    </figcaption>
</figure>

@code {
    [Parameter]
    public string Url { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Caption { get; set; }
}
